---
layout: default
title: About us
slug: about-us
permalink: /about-us/
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="About us"
      body="Sort has some of the most experienced and respected people in digital. Together, we share a set of beliefs that explain what we’re all about. We call it The Sort Code…"
    %}
  </div>
</div>
<div class="ui main text container">
  {% include block-3.html
    icon="check square outline"
    title="Focus on delivering outcomes."
    body="Not being instructed, having things specified to a tee or demanding the production of highly detailed requirements."
  %}
  {% include block-3.html
    icon="check square outline"
    title="Be transparent, straight talking, and keep it simple."
    body="Not working in silos, using jargon-filled language, and building unnecessarily complex solutions for the sake of it."
  %}
  {% include block-3.html
    icon="check square outline"
    title="Create value through long-term partnerships."
    body='Not "one off" short-term projects that fail to consider their impact on wider business performance.'
  %}
  {% include block-3.html
    icon="check square outline"
    title="Be flexible, do what’s needed."
    body='Not "doing what’s in my job description" and waiting for bureaucratic sign-off before acting on clearly valuable change.'
  %}
  {% include block-3.html
    icon="check square outline"
    title="Satisfy the users. Keep it agile."
    body='Not "gut feel" assumptions without evidence to back up claims. Don’t restrict your agility to the constraints of a delivery framework.'
  %}
</div>
<div class="stripe">
  <div class="ui text container">
    {% include block-4.html
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    brand="primary"
    cta="Lorem"
    %}
  </div>
</div>