---
layout: default
title: About us
slug: about-us
permalink: /about-us/
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="About us"
    %}
  </div>
</div>
<div class="ui main text container">
  <p>Sort was founded by highly experienced, like-minded digital specialists who wanted to improve how digital change is done.</p>
  <p>Together, we’ve defined a set of beliefs that help explain what we're all about. We call it The Sort Code.</p>
  <h2 class="ui header">The Sort Code</h2>
  {% include block-3.html
    icon="one custom"
    title="We deliver positive, measurable outcomes"
    body="We learn about our clients' organisations and question the status quo to solve the right problems with the right solutions."
  %}
  {% include block-3.html
    icon="two custom"
    title="We keep things simple, honest, and straight-talking"
    body="We hate working in isolation and much prefer open, transparent collaboration. We speak plain English, not jargon, and avoid building unnecessarily complex solutions."
  %}
  {% include block-3.html
    icon="three custom"
    title="We deliver long-term value through partnerships"
    body="By continuously delivering positive outcomes, we learn more about our clients' organisations and provide a greater return on their digital investment."
  %}
  {% include block-3.html
    icon="four custom"
    title="We are flexible, always doing what’s needed"
    body="We are a multidisciplinary team of self-motivated specialists with no bureaucracy. When something needs doing, someone does it. We want to help and never hide behind job titles."
  %}
  {% include block-3.html
    icon="five custom"
    title="We meet user needs"
    body="We understand the needs of our clients' users and adapt to changing behaviours through continuous delivery cycles of building, measuring, and learning."
  %}
  {% include block-3.html
    icon="six custom"
    title="We are actually agile"
    body='We can adapt quickly to all sorts of change, internally and with clients, using our outcome-lead methodology, regardless of whether or not it breaks "the rules" of agile frameworks.'
  %}
</div>
<div class="stripe">
  <div class="ui text container">
    {% include block-4.html
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    brand="primary"
    cta="Lorem"
    %}
  </div>
</div>