---
layout: default
title: Components
permalink: /components/
---
<div class="ui main text container">
  <h1 class="ui header">Components guide</h1>
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Header 1 - larger paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-1</div>
  {% include block-1.html
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Header 1 - no paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-2</div>
  {% include block-2.html
    title="Lorem ipsum dolor sit amet"
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Icon header 3 - paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-3</div>
  {% include block-3.html
    icon="space shuttle"
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Header 2 - paragraph text - call to action - centered</div>
  <div class="ui purple pointing below label">block-4</div>
  {% include block-4.html
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    brand="secondary"
    cta="Lorem"
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Header 2 - images - no call to action - centered</div>
  <div class="ui purple pointing below label">block-5</div>
  {% include block-5.html
    title="Lorem ipsum dolor sit amet"
    image-1="/assets/files/images/components/patrick.png"
    image-2="/assets/files/images/components/patrick.png"
    image-3="/assets/files/images/components/patrick.png"
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Twin icon header 2 - paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-6</div>
  {% include block-6.html
    icon-1="space shuttle"
    title-1="Lorem ipsum dolor sit amet"
    body-1="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    icon-2="space shuttle"
    title-2="Lorem ipsum dolor sit amet"
    body-2="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    brand="secondary"
    cta="Lorem"
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Linked icon header 3 - paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-7</div>
  {% include block-7.html
    url="#"
    icon="space shuttle"
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  %}
  <div class="ui divider"></div>
  <div class="ui violet pointing below label">Icon header 2 - no paragraph text - no call to action</div>
  <div class="ui purple pointing below label">block-8</div>
  {% include block-8.html
    icon="space shuttle"
    title="Lorem ipsum dolor sit amet"
  %}
  <div class="ui divider"></div>
</div>