---
layout: default
title: Contact us
slug: contact-us
permalink: /contact-us/
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="Contact us"
      body="You can get hold of us in a number of ways…"
    %}
  </div>
</div>
<div class="ui main text container">
  {% include block-3.html
    icon="envelope outline"
    title="Email"
    body='Email <a href="mailto:contact@wearesort.co.uk">contact@wearesort.co.uk</a>. A member of our team will get back to you right away.'
  %}
  {% include block-3.html
    icon="linkedin"
    title="LinkedIn"
    body='Visit <a href="https://www.linkedin.com/company/wearesort" target="_blank">https://www.linkedin.com/company/wearesort</a>. Follow us for our latest updates.'
  %}
  {% include block-3.html
    icon="twitter"
    title="Twitter"
    body='Follow <a href="https://twitter.com/sortofficial" target="_blank">https://twitter.com/sortofficial</a>.'
  %}
</div>