---
layout: default
title: Contact us
slug: contact-us
permalink: /contact-us/
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="Contact us"
      body="You can get hold of us in a number of ways…"
    %}
  </div>
</div>
<div class="ui main text container">
  {% include block-7.html
    mailto=true
    url="mailto:contact@wearesort.co.uk"
    icon="email custom"
    title="Email"
    body='Email <a href="mailto:contact@wearesort.co.uk">contact@wearesort.co.uk</a>. A member of our team will get back to you right away.'
  %}
  {% include block-7.html
    mailto=false
    url="https://www.linkedin.com/company/wearesort"
    icon="linkedin custom"
    title="LinkedIn"
    body='Visit <a style="word-wrap: break-word" href="https://www.linkedin.com/company/wearesort" target="_blank">https://www.linkedin.com/company/wearesort</a>.'
  %}
  {% include block-7.html
    mailto=false
    url="https://twitter.com/sortofficial"
    icon="twitter custom"
    title="Twitter"
    body='Follow <a href="https://twitter.com/sortofficial" target="_blank">https://twitter.com/sortofficial</a>.'
  %}
</div>
<div class="stripe">
  <div class="ui text container">
    {% include block-4.html
    title="Lorem ipsum dolor sit amet"
    body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    brand="primary"
    cta="Lorem"
    %}
  </div>
</div>