---
title: Sort - Digital specialists improving how digital change is done
description: We help organisations solve key problems, achieve the right goals, and adapt to change. Find out more...
slug: home
permalink: /
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.slug }}">
    {% include gtm-noscript.html %}
    {% include main-menu.html %}
    {% include sidebar-menu.html %}
    <div class="pusher">
      {% include secondary-menu.html %}
      {% include cookie-consent.html %}
      <div class="stripe">
        <div class="ui text container">
          {% include block-1.html
            title="We help organisations solve key problems, achieve the right goals, and adapt to change."
            body="We are a team of experienced digital specialists who are improving how digital change is done."
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui container">
          {% include block-6.html
            icon-1="space shuttle"
            title-1="Digital business consulting"
            body-1="74% of organisations admit that their digital projects are not aligned with the wider digital strategy. We help you avoid the risk, waste and frustration of misalignment."
            icon-2="space shuttle"
            title-2="Process optimisation and development"
            body-2="We want to ensure that your digital goals align with your wider organisation strategy. Our team can help you find out what you need to succeed, then build and implement the right solutions."
            brand="primary"
            url="/what-we-do/"
            cta="Find out more"

          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-4.html
            title="How we work"
            body="We focus on delivering real value to our clients, solving their key digital problems and helping them achieve their goals. We do this in a highly collaborative, transparent, and pragmatic way."
            brand="primary"
            url="/how-we-work/"
            cta="Find out more"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-4.html
            title="Who we are"
            body="Sort are an experienced team of digital business consultants, service designers, technical architects, developers, and agile delivery experts who want to improve how digital change is done."
            brand="primary"
            url="/about-us/"
            cta="Find out more"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-8.html
            title="Need help with a project?"
            brand="primary"
            url="/contact-us/"
            cta="Get in touch"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-5.html
          title="Who we're working with"
          image-1="/assets/files/images/logos/fsa.svg"
          image-2="/assets/files/images/logos/swc.svg"
          image-3="/assets/files/images/logos/ucl.svg"
          %}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>