---
title: Home
slug: home
permalink: /
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="{{ page.slug }}">
    {% include gtm-noscript.html %}
    {% include main-menu.html %}
    {% include sidebar-menu.html %}
    <div class="pusher">
      {% include secondary-menu.html %}
      {% include cookie-consent.html %}
      <div class="stripe">
        <div class="ui text container">
          {% include block-1.html
            title="Lorem ipsum dolor sit amet"
            body-1="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            body-2="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui container">
          {% include block-6.html
            icon-1="space shuttle"
            title-1="Lorem ipsum dolor sit amet"
            body-1="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            icon-2="space shuttle"
            title-2="Lorem ipsum dolor sit amet"
            body-2="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            brand="secondary"
            cta="Lorem"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-4.html
            title="Lorem ipsum dolor sit amet"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            brand="primary"
            cta="Lorem"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-4.html
            title="Lorem ipsum dolor sit amet"
            body="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            brand="primary"
            cta="Lorem"
          %}
        </div>
      </div>
      <div class="stripe">
        <div class="ui text container">
          {% include block-5.html
          title="Who we're working with"
          image-1="/assets/files/images/logos/fsa.svg"
          image-2="/assets/files/images/logos/swc.svg"
          image-3="/assets/files/images/logos/ucl.svg"
          %}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>