---
layout: default
title: Our team - Sort
description: Our team is full of all sorts. We’ve got experts in consulting, digital, design and more. Collectively, we’ve worked with some of the biggest and best brands in the world.
slug: our-team
permalink: /our-team/
---
<div class="stripe">
  <div class="ui container">
    {% include block-2.html
      title="Our team"
    %}
  </div>
</div>

<div class="ui main container">
  <div class="ui four doubling cards">
    {% include block-card-people.html
      image="/assets/files/images/portraits/andrew.jpg"
      name="Andrew Larcombe"
      position="Consultant"
      description="Advocating value-lead approaches. Technical and strategic problem solver."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/andy.jpg"
      name="Andy Switzer"
      position="Consultant"
      description="Creative ideas person. Likes translating ideas into reality. Enjoys problem-solving."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/chris.jpg"
      name="Chris Brain"
      position="Service Designer"
      description="Experienced and versatile user research, service design and product management specialist."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/dan.jpg"
      name="Dan Leakey"
      position="Delivery Manager"
      description="Experienced agile practitioner maximising team delivery."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/garion.jpg"
      name="Garion Woodcock"
      position="Business Development"
      description="Passionate about maximising business potential and building valuable relationships."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/johan.jpg"
      name="Johan Gant"
      position="Developer"
      description="10+ yrs building web things. Fan of simple tech solving real-world problems."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/john.jpg"
      name="John Durance"
      position="Developer"
      description="Making web apps that people find engaging & can use day-to-day to solve all kinds of problems."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/karl.jpg"
      name="Karl Orsborn"
      position="Service Designer"
      description="Designing great user experiences for online and offline services."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/luke.jpg"
      name="Luke Branford"
      position="Director"
      description="Fell into digital 10+ yrs ago @ MTV. Driven change in private & public sectors."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/martin.jpg"
      name="Martin Fraser"
      position="Developer"
      description="Working on the Internet since before the web existed. Once built a system in the North Sea."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/mat.jpg"
      name="Mat Matthews"
      position="CEO"
      description="Tech industry veteran. Built fast scaling businesses. 20+ yrs in tech, sales & operations."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/nancy.jpg"
      name="Nancy Roberts"
      position="Delivery Manager & Director"
      description="Over 10 years experience in managing a variety of digital work streams."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/paul.jpg"
      name="Paul Moloney"
      position="Developer"
      description="10+ yrs in web development, front & back. Drupalista and open source techie."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/paulina.jpg"
      name="Paulina Zięcik"
      position="Office Manager"
      description="Lynchpin of the team. Learning frontend design. Keen DSLR photographer."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/randal.jpg"
      name="Randal Whitmore"
      position="Marketing"
      description="Goal-driven marketeer. Creative soul. Big believer in collaboration. People person."
    %}
    {% include block-card-people.html
      image="/assets/files/images/portraits/phil.jpg"
      name="Phil Murphy"
      position="Consultant"
      description="Solving digital problems and supporting clients for the past 10 years. People person. Creative thinker."
    %}
  </div>
</div>

<div class="stripe">
  <div class="ui text container">
    {% include block-8.html
    title="Need help with a project?"
    brand="primary"
    url="/contact-us/"
    cta="Get in touch"
    %}
  </div>
</div>
