<div class="block">
  <h2 class="ui header">{{ include.title }}</h2>
  <div class="ui grid">
    <div class="three column row shaded">
      <div class="column">
        <div class="content">
          {% if include.icon-1 %}
          <header><i class="{{ include.icon-1 }} icon"></i></header>
          {% endif %}
          {{ include.text-1 }}
        </div>
      </div>
      <div class="column">
        <div class="content">
          {% if include.icon-2 %}
          <header><i class="{{ include.icon-2 }} icon"></i></header>
          {% endif %}
          {{ include.text-2 }}
        </div>
      </div>
      <div class="column">
        <div class="content">
          {% if include.icon-3 %}
          <header><i class="{{ include.icon-3 }} icon"></i></header>
          {% endif %}
          {{ include.text-3 }}
        </div>
      </div>
    </div>
  </div>
</div>
