<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Site</h4>
        <div class="ui inverted link list">
          <a class="item" href="/">Home</a>
          <a class="item" href="/what-we-do/">What we do</a>
          <a class="item" href="/how-we-work/">How we work</a>
          <a class="item" href="/about-us/">About us</a>
          <a class="item" href="/our-work/">Our work</a>
          <a class="item" href="/our-team/">Our team</a>
          <a class="item" href="/contact-us/">Contact us</a>
        </div>
        <div class="ui inverted link list">
          <a class="item" href="/privacy-policy/">Privacy policy</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Social media</h4>
        <div class="ui inverted link list">
          <a class="item" href="https://twitter.com/sortofficial" target="_blank">
            <i class="twitter icon"></i>{{ site.twitter }}
          </a>
          <a class="item" href="https://www.linkedin.com/company/wearesort" target="_blank">
            <i class="linkedin icon"></i>{{ site.linkedin }}
          </a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Company</h4>
        <div class="ui inverted link list">
          <div class="item">Sort Digital Ltd</div>
          <div class="item">No. 11296171</div>
       </div>
      </div>
      <div class="four wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img class="ui small image" src="/assets/files/images/logos/ccs.svg" alt="Sort are a Crown Commercial Service Supplier">
          </div>
          <a class="item" href="https://icons8.com" target="_blank">Icons courtesy of icons8</a>
        </div>
      </div>
    </div>
  </div>
</div>
