<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Site</h4>
        <div class="ui inverted link list">
          <a class="item" href="/">Home</a>
          <a class="item" href="/about-us/">About us</a>
          <a class="item" href="/what-we-do/">What we do</a>
          <a class="item" href="/team/">Team</a>
          <a class="item" href="/contact-us/">Contact us</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Social media</h4>
        <div class="ui inverted link list">
          <div class="item">
            <i class="twitter icon"></i>
            <div class="content">
              <a href="https://twitter.com/sortofficial">@{{ site.twitter }}</a>
            </div>
          </div>
          <div class="item">
            <i class="facebook icon"></i>
            <div class="content">
              <a href="https://www.facebook.com/wearesort/">{{ site.facebook }}</a>
            </div>
          </div>
          <div class="item">
            <i class="linkedin icon"></i>
            <div class="content">
              <a href="#">{{ site.linkedin }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="seven wide column">
        <img class="ui small image" src="/assets/files/images/brand/logo-white.svg">
        <div class="ui inverted link list">
          <a class="item" href="/privacy-policy/">Privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</div>