<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=0VBk-O2h2Rx3W6g9x8gwsQ&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MBMF8TD');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- Search engines -->
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="image" content="{{ site.url }}/assets/files/images/brand/card.jpg">
  <!-- Schema.org -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.description }}">
  <meta itemprop="image" content="{{ site.url }}/assets/files/images/brand/card.jpg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  <meta name="twitter:image:src" content="{{ site.url }}/assets/files/images/brand/card.jpg">
  <!-- Open Graph -->
  <meta name="og:title" content="{{ page.title }}">
  <meta name="og:description" content="{{ page.description }}">
  <meta name="og:image" content="{{ site.url }}/assets/files/images/brand/card.jpg">
  {% if page.slug == 'home' %}
  <meta name="og:url" content="https://www.wearesort.co.uk/" />
  <link rel="canonical" href="https://www.wearesort.co.uk/" />
  {% else %}
  <meta name="og:url" content="https://www.wearesort.co.uk/{{ page.slug }}/" />
  <link rel="canonical" href="https://www.wearesort.co.uk/{{ page.slug }}/" />
  {% endif %}
  <meta name="og:site_name" content="Sort">
  <meta name="og:locale" content="en_GB">
  <meta name="og:type" content="website">
  <link rel="icon" href="/assets/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/dist/semantic.min.js"></script>
  <!-- Responsive menu -->
  <script>
    $(function() {
      $(".main.menu").visibility({
        type: "fixed"
      });
      $(".ui.sidebar").sidebar("attach events", ".toc.item");
    });
  </script>
  <!-- End responsive menu -->
  <!-- Active menu item -->
  <script>
    $(function() {
      var path = window.location.pathname.replace(/\/$/, "");
      path = path == "" ? "/" : path + "/";
      $(".ui a[href='" + path + "'].item").addClass("active");
    });
  </script>
  <!-- End active menu item -->
  <!-- Cookie compliance -->
  <script>
    $(function() {
      $(".cookie.nag").nag({
        storageMethod: "localstorage"
      });
    });
  </script>
  <!-- End cookie compliance -->
</head>
