<div class="ui grid">
  <div class="computer only row">
    <div class="column">
      <div class="ui large inverted secondary menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="/about">About</a>
        <a class="item" href="/press-release">Press release</a>
        <a class="item" href="/team">Team</a>
        <a class="item" href="/contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="tablet mobile only row">
    <div class="column">
      <div class="ui large inverted secondary menu">
        <a id="mobile_item" class="item"><i class="bars icon"></i></a>
      </div>
    </div>
  </div>
</div>