<div class="ui vertical center aligned segment">
  <div class="ui text container">
    <h2 class="ui header">Who we’re working with</h2>
    <div class="ui relaxed horizontal clients list">
      {% for client in site.data.clients %}
        {% if client.ours %}
          <div class="our item">
            <a href="{{ client.url }}">
              <img src="/assets/files/images/logos/{{ client.logo }}" alt="{{ client.name }}" target="_blank">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <p>We’re proud to be working in partnership with the Food Standards Agency to deliver outcomes and greater return on their digital investment.</p>
  </div>
</div>