<div class="ui vertical center aligned segment">
  <div class="ui text container">
    <h2 class="ui header">Companies our team members have worked with</h2>
    <div class="ui horizontal clients list">
      {% for client in site.data.clients %}
        <div class="team item">
          <a href="{{ client.url }}" target="_blank">
            <img src="/assets/files/images/logos/{{ client.logo }}" alt="{{ client.name }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>