<div class="ui vertical center aligned segment">
  <h2 class="ui header">Thinkers, artists, builders & more. Our team is full of all sorts...</h2>
  <div class="ui ten cards">
    {% for profile in site.data.profiles %}
    <div class="card">
      <div class="image">
        <img src="/assets/files/images/avatars/{{ profile.avatar }}" alt="{{ profile.name }}">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="ui five cards">
    {% for profile in site.data.profiles %}
    <div class="card">
      <div class="image">
        <img src="/assets/files/images/avatars/{{ profile.avatar }}" alt="{{ profile.name }}">
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="ui big primary button" href="/our-team/">Our team <i class="right angle icon"></i></a>
</div>