<h2 class="ui header">Artists, thinkers, builders and down right talented sorts</h2>
<div class="ui ten doubling cards">
  {% for profile in site.data.profiles %}
    <div class="card">
      <div class="image">
        <img src="/assets/files/images/avatars/{{ profile.avatar }}">
      </div>
    </div>
  {% endfor %}
</div>
<div class="ui middle aligned grid container">
  <div class="row">
    <div class="center aligned column">
      <a class="ui huge button" href="/team">Meet our team</a>
    </div>
  </div>
</div>