---
layout: default
title: Food Standards Agency Website - Sort Case Study
slug: food.gov.uk
description: Read about how Sort worked with The FSA to rebuild their website around user needs through Discovery, Alpha, Beta, and Live phases...
published: true
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="Food Standards Agency Website"
    %}
  </div>
</div>
<div class="ui main text container">
  <p>See this project live at <a href="https://www.food.gov.uk">https://www.food.gov.uk</a>.</p>
  <p>&nbsp;</p>

  {% include block-quote.html
    title="Background"
    variant="dark"
    quote="The Food Standards Agency (FSA) were looking to rebuild their website to help better meet the organisation’s strategic goals."
  %}

  <h2>Problem</h2>
  <p>Prior to undertaking a Discovery, the FSA were already aware of a number of problems:</p>
  <ul>
  <li>Limited understanding of site users and their needs</li>
  <li>Limited understanding of effectiveness of various services</li>
  <li>Negative user feedback from annual surveys</li>
  <li>Lack of a content strategy or editorial workflow; site has 100,000+ pages</li>
  <li>Legacy CMS making content production slow and site difficult to iterate</li>
  <li>Multilingual content issues</li>
  <li>High costs associated to SMS/email comms and offline contact enquiries</li>
  <li>Legacy infrastructure performance issues</li>
  <li>Little agile delivery experience and low technical expertise</li>
  </ul>

  <h2>Solution</h2>
  <p>The project started with a x12 week Discovery phase, delivered to GDS design manual standards, including:</p>
  <ul>
  <li>Strategy, past research and user feedback reviews</li>
  <li>Website analytics analysis</li>
  <li>Internal & external stakeholder interviews and workshops</li>
  <li>User interviews spanning a wide range of user groups, from micro to large businesses undertaking a wide range of food-related activities, to consumers, researchers and Local Authorities</li>
  <li>User personas</li>
  <li>Co-creation sessions</li>
  <li>User journey mapping</li>
  <li>Content strategy & IA</li>
  <li>Technology review & recommendations</li>
  </ul>

  <p>The Discovery clearly identified x4 key services to focus on during Alpha.</p>

  <p>Activity during Alpha:</p>
  <ul>
  <li>Agile training for key stakeholders</li>
  <li>Clickable prototyping with several rounds of remote and lab user testing and iteration</li>
  <li>MVP development of key services to validate technology choice (Drupal) and test legacy system integrations</li>
  </ul>

  <img src="/assets/files/images/components/food.gov.uk.png" alt="Screenshot of food.gov.uk" title="food.gov.uk" class="ui fluid image"/>

  <p>Following a successful presentation of the Discovery and Alpha findings to the GDS, the project moved into Beta phase:</p>
  <ul>
  <li>Working with Comms team to adhere to FSA style-guide whilst utilising GDS design patterns</li>
  <li>Slow roll-out across different user groups, constantly iterating based on feedback, before making Beta site public alongside old site</li>
  </ul>

  <h2>Results</h2>
  <ul>
  <li>Significantly increased positive feedback from all user groups for all services</li>
  <li>Overhauled content strategy with enhanced editorial workflows</li>
  <li>Significantly reduced SMS/email costs through utilisation of GDS Notify</li>
  <li>Reduction in offline contact enquiries by increasing online contact service usage</li>
  <li>Fully multilingual site</li>
  <li>Implemented comprehensive analytics framework and created performance dashboards for future data-oriented site iteration</li>
  <li>Upskilled FSA team in agile digital delivery</li>
  </ul>

</div>

<div class="stripe bottom-cta">
  <div class="ui text container">
    {% include block-8.html
    title="Need help with a project?"
    brand="primary"
    url="/contact-us/"
    cta="Get in touch"
    %}
  </div>
</div>
