---
layout: default
title: Preparing The Food Standards Agency for EU Exit
slug: fsa-preparing-incidents-for-eu-exit
description: Read how The Food Standards Agency (FSA) worked with Sort to prepare their food incidents operations for the potential impacts of the UK leaving the EU with “no deal”…
---
<div class="stripe">
  <div class="ui text container">
    {% include block-2.html
      title="Preparing The Food Standards Agency for EU Exit"
    %}
  </div>
</div>
<div class="ui main text container">
  <div class="block">
    <h2>Overview</h2>
    <p>The FSA is preparing their food incidents operations for the potential impacts of the UK leaving the EU with “no deal”. In this scenario, it’s crucial that the Incidents Team are able to continue protecting UK citizens from global food and feed safety threats.
    <p>Cross-border intelligence and information about serious food safety risks and food fraud are currently exchanged with EU member states through the EU Commission’s food safety system - RASFF (Rapid Alert System for Food and Feed).
    <p>Exiting the EU with “no deal” could potentially result in The FSA losing access to this commonplace information network on the 29th of March 2019.
    <p>In close collaboration, The FSA and Sort have taken an agile, outcome-focused approach to mitigate these risks, rapidly exploring alternative solutions for identifying and managing food and feed incidents. They've also explored how The FSA could work with future potential trading partners when handling incidents in a post-EU Exit world, regardless of the final deal.
  </div>

  {% include block-3-text.html
    title="Challenges"
    icon-1="no-entry custom"
    text-1="Risk of losing access to the network of food safety incidents information owned by the European Commission."
    icon-2="earth-globe custom"
    text-2="Uncertain of how food safety incidents could be handled with new potential trading partners."
    icon-3="timer custom"
    text-3="Deadline of March 2019 to have operations prepared in case of a possible “no deal” exit is fast approaching."
  %}

  {% include block-quote.html
    title="Original Goal"
    quote="A working solution that allows the FSA to manage incidents when they no longer have access to EU-owned incident systems and services."
    cite="June 2018"
  %}

  <h2>What We Did</h2>
  {% include block-3.html
    icon="magnifying-glass custom"
    title="4-week high-level discovery"
    body="We already understood the FSA’s organisation from relaunching food.gov.uk. This discovery was to understand “no deal” EU Exit risks to their operations, potential problems, project goals and objectives, and to create reasoned assumptions for validation."
  %}
  {% include block-3.html
    icon="test-tube custom"
    title="Researched needs and set hypotheses"
    body="Together with the Incidents Team, we learned enough about their stakeholders’ needs - through observational research, interviews, tech reviews, workshops and more - to form hypotheses towards meeting the project goals and validating assumptions."
  %}
  {% include block-3.html
    icon="process custom"
    title="Build, measure, learn, repeat!"
    body="We rapidly delivered solutions every week to validate our hypotheses. Some solutions are system MVPs (minimum viable products). Other solutions are operational workflow improvements e.g. the new Receipts and Management Team who will monitor and understand incidents for the Incidents Team to action."
  %}
  {% include block-3.html
    icon="path custom"
    title="Adapted based on learnings"
    body="In true agile style, we decided where to focus our efforts as we iteratively learned more, ensuring that highly valuable outcomes were delivered efficiently. We even updated the original project goal (above) to the current goal (below) after we learned that establishing a new team was a key solution."
  %}
  {% include block-3.html
    icon="language custom"
    title="Learned from other countries"
    body="We interviewed The FSA's counterparts in numerous EU and non-EU countries to learn how they identify and manage food incidents. This contributed to our rapid delivery cycles and helped us learn how better to work with future potential trading partners."
  %}
  {% include block-3.html
    icon="teamwork custom"
    title="Collaborated with affected third parties"
    body="We involved numerous third party stakeholders who are affected by/influence the Incidents Team's work through a series of interviews and workshops. These included Port Authorities, government departments, enforcement authorities, devolved authorities and more."
  %}

  <div class="block">
    <figure>
      <img src="/assets/files/images/components/build__measure__learn_cycle.svg" class="ui large image" alt="Build, Measure, Learn cycle" />
      <figcaption>The continuous build, measure, learn delivery cycle.</figcaption>
    </figure>
  </div>

  {% include block-quote.html
    title="Current Goal"
    quote="A working solution that enables the new Receipts and Management Team to make timely and accurate evaluations of incoming notifications."
    cite="November 2018"
  %}

  {% include block-3-text.html
    title="Solutions Delivered"
    icon-1="multichannel custom"
    text-1="System MVP that gathers public food incidents info from various sources for The FSA to identify and act on."
    icon-2="workflow custom"
    text-2="Operational process and workflow improvements, including a new team for discovering incidents."
    icon-3="learn-more custom"
    text-3="Continuous new learnings of internal needs, international incident management, third party needs and more."
  %}

  <img alt="Food and feed incident handling and response" src="/assets/files/images/components/food-incident-response.jpg" class="ui image">

  <h2>Benefits of Our Delivery Approach</h2>

  {% include block-3.html
    icon="goal custom"
    title="Outcome focused"
    body="By focusing on achieving the project goal (the desired outcome), we invested time and budget in discovering and delivering the right solutions. Without this, there would be a higher risk of delivering the wrong solutions, wasting time and investment - best avoided during periods of great uncertainty as negotiations continue."
  %}

  {% include block-3.html
    icon="cycle-arrows custom"
    title="Iterative"
    body="Through our continuous process of learning, building and measuring the effects of our work, we uncovered new information as the project has progressed and the resulting solutions evolved in real-time based on our findings. This ensured that we delivered the right solutions to achieve the desired outcome and enabled the project team to adapt as new information surfaced from the EU Exit negotiations."
  %}

  {% include block-3.html
    icon="team custom"
    title="Collaborative"
    body="The FSA and Sort have been side-by-side throughout the project, learning and delivering solutions together as a single collaborative team working towards shared goals. This enabled us to easily access information/people as needed for research and testing, gathering feedback, and immediately acting on new findings."
  %}

  {% include block-3.html
    icon="collaboration custom"
    title="Transparent"
    body="Keeping everything open between The FSA, Sort, and third-party stakeholders aided collaboration and reduced the risk of unforeseen circumstances. This extends to our shared Slack workspace, Trello task management board, daily stand-ups, weekly show and tells, senior steering group updates, budget spending dashboard and more. Altogether, this helped us become a single collaborative team working towards the same goals rather than a typical supplier and client relationship."
  %}

  {% include block-quote.html
    variant="solid"
    quote="Sort is the best company that The FSA has worked with to date"
    cite="Head of Incidents and Resilience Unit, The FSA"
  %}

  <h2>Next Steps</h2>
  <p>Whilst we’ve already delivered many solutions, both product and process-based, we’re continuing to work towards the project goal and solve the Incidents Team’s problems, validating our hypotheses.</p>
  <p>As new updates come out of the EU Exit negotiations, we are able to adapt and take them into consideration with immediate effect.</p>

</div>

<div class="stripe">
  <div class="ui text container">
    {% include block-8.html
    title="Need help with a project?"
    brand="primary"
    url="/contact-us/"
    cta="Get in touch"
    %}
  </div>
</div>
