---
layout: default
---
{% assign author = site.team | where:"name", page.author | first %}
{% if page.image %}<img class="ui fluid title image text container" src="{{ page.image }}" alt="{{ page.title }}">{% endif %}
<div class="ui text container">
  <h1>{{ page.title }}</h1>
  <div class="ui meta grid container">
    <div class="three wide column"><img class="ui fluid image" src="{{ author.image }}" alt="{{ author.name }}"></div>
    <div class="thirteen wide middle aligned column">
      <div class="name">By {{ page.author }}</div>
      <div>{{ page.date | date_to_string }}</div>
    </div>
  </div>
</div>
<div class="ui main text container">
  <div class="block">{{ content }}</div>
</div>

<div class="stripe bottom-cta">
  <div class="ui text container">
    {% include block-8.html
    title="Need help with a project?"
    brand="primary"
    url="/contact-us/"
    cta="Get in touch"
    %}
  </div>
</div>
