---
layout: default
---
<div class="stripe">
  <div class="ui container">
    {% include block-2.html
      title=page.title
    %}
  </div>
</div>

<div class="ui meta grid text container row">
  <div class="eight wide column"><i class="user icon"></i>&nbsp;{{ page.author }}</div>
  <div class="eight wide column right aligned">{{ page.date | date_to_string }}&nbsp;<i class="calendar icon"></i></div>
</div>
<div class="ui main text container">
  {% if page.intro %}<div class="block intro">{{ page.intro }}</div>{% endif %}
  {% if page.image %}<img class="ui fluid image block" src="{{ page.image }}" alt="{{ page.title }}">{% endif %}
  <div class="block">{{ content }}</div>
</div>

<div class="stripe bottom-cta">
  <div class="ui text container">
    {% include block-8.html
    title="Need help with a project?"
    brand="primary"
    url="/contact-us/"
    cta="Get in touch"
    %}
  </div>
</div>
